body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;

}

header{
	background-color: orangered;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Bebas Neue', Arial;
	font-size: 50px;
}

header h1{
	color: white;
}

header img{
    border-radius: 170px;
    width: 300px;
    border: 20px solid white;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: black;
	margin: 40px 0 10px;
}

a{
	color:black;

}
a:hover{
	opacity: .7;
	background-color: transparent;
}

footer{
	background-color: orangered;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}
